@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
    font-family: 'Gentium Book Plus', serif;

    margin: 0;
    padding: 0;
    min-height: 100vh;


}

/*header*/

.navbar{
    flex-wrap: nowrap;
}

.nav-link {
    color: #a52a2ab7;
    transition: 0.3s;
}

.nav-link:hover {
    background-color: #a52a2ab7;
    color: white;
    transition: 0.3s;
}


/*ppaginaInfo*/
.container-fluid {
    margin-top: 3em;
}

.imageBook:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.imageBook {
    transition: 0.5s;
}

.textInfo {
    font-size: large;
}
/*Footer*/

#piePagina {
    background-color: #a52a2ab7;
    color: white;
}

.nameFooter {
    font-size: xx-large;
    font-weight: 700;
    text-decoration: underline;
}


/*paginaContacto*/
.titleContact {
    font-size: xx-large;
    font-weight: 700;
    color: #a52a2ab7;
}

.btn {
    background-color: #a52a2ab7;
    border-color: #a52a2ab7;
    color: white;
}

.btn:hover {
    background-color: #a52a2ade;
    border-color: #a52a2ade;
    color: white;
    box-shadow: none;
}


.infoContact {
    font-size: x-large;
}

.titleContactMap {
    font-weight: 700;
}

/*paginamenu*/

.menuCard {
    color: #a52a2ab7;
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
}

.card-title {
    font-size: x-large;
    font-weight: 700;
}



.card {
    border: 0;
}

.imgMenu {
    transition: 0.5s;
    border-radius: 0.5em;
    height: 20.3em;
    width: 20.3em;

}

.imgMenu:hover {
    transform: scale(1.1);
    transition: 0.5s;
}



/*pagina Index*/

.indexTextTop {
    padding-bottom: 5em;
}

.titleIndexTextTop {
    color: #a52a2ab7;
    font-size: xx-large;
    font-weight: 700;
}

.subtitleIndexTextTop {
    font-size: large;
}

.imageIndexTop {
    width: 21em;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.imageIndexTop:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.titleIndexBottom {
    margin-top: 2em;
    color: #a52a2ab7;
    font-size: xx-large;
    font-weight: 700;
}
