@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Gentium Book Plus', serif;

}

/*header*/
.nav-link {
    color: #a52a2ab7;
    transition: 0.3s;
}

.nav-link:hover {
    background-color: #a52a2ab7;
    color: white;
    transition: 0.3s;
}

#indexImage {
    width: 161em;
}


.thumbnail { 
    position: relative; 
} 



.textCenter { 
    position: absolute; 
    top: 45%; 
    left: 0; 
    width: 100%; 
    color: white;
    font-size: xxx-large;
    font-weight: 700;
}

/*ppaginaInfo*/
.container-fluid {
    margin-top: 3em;
}

/*Footer*/

#piePagina {
    background-color: #a52a2ab7;
    color: white;
}

.nameFooter {
    font-size: xx-large;
    font-weight: 700;
    text-decoration: underline;
}

/*paginaContacto*/
.titleContact {
    font-size: xx-large;
    font-weight: 700;
    color: #a52a2ab7;
}

.btn {
    background-color: #a52a2ab7;
    border-color: #a52a2ab7;
}

.btn:hover {
    background-color: #a52a2ade;
    border-color: #a52a2ade;
}









